.Notice-title {
    font-size: 0.34rem;
}

.Noticewrap {
    background: #FFF;
    height: 100vh;
}

.Notice-content{
    margin:  0 auto;
    padding:20vh 0.3rem 0 0.3rem;
}
.Notice-One{
    margin-bottom: 0.64rem;
}
.Notice-One img{
    width: 0.36rem;
}
.Notice-One h3{
    display: inline-block;
    line-height: 0.38rem;
    font-size: 0.36rem;
    vertical-align: middle;
}
.Notice-One span{
    float: right;
    font-size: 0.24rem;
    color: #b0b0b0;
    padding-top:0.06rem ;
}
.Notice-One p{
    line-height: 0.38rem;
    margin-top: 0.25rem;
    font-size: 0.26rem;
    color: #868686;
    border-bottom: solid #c1c1c1 1px;
    padding-bottom: 0.34rem;
}
