@charset "utf-8";
div.public_body_gameOver{
    background: #29bde0;
    overflow: auto;
    margin-top: 9vh;
    padding: 1.5vw;
    max-width: 768px;
    min-width: 320px;
    height: 100%;
}
/*图片*/
img{
    width: 100%;
}
.win{
    margin:32px auto 0 auto;
    width: 55%;
}
/*玩家信息*/

.playerTop{
    margin-bottom: 0.2rem;
}
.result {
    margin-top:0.8rem ;
    font-size: 0.26rem;
    color: white;
    overflow: hidden;
}
.roleNum{
    padding: 0;
    overflow: hidden;

}
.roleNum li{
    float: left;
    width: 33%;
}
/*玩家信息包围*/
.logWrap{
    display: inline-block;
    vertical-align: top;
}
/*gameLog*/
.gameLog{
    margin-bottom: 19%;
    padding: 0;
    background: white;
}
.ul-by-gameLog{
    border-bottom: 1px #a6a6a6 solid;
}
.ul-by-gameLog li{
    font-size: 0.26rem;
    line-height: 0.4rem;
    color: #a6a6a6;
    text-align: left;
}
.dayNum{
    font-size: 0.3rem;
    line-height: 0.54rem;
}
.gameTime{
    font-size: 2.6rem;
    line-height: 4rem;
    color: #a6a6a6;
}
.time{
    float: right;
    font-size: 0.2rem;
    color: #c7c7c7;
}
    /*页脚*/
div.footer-gameOver{
    position: fixed;
    bottom: 0;
    margin-left: -1.5vw;
    max-width: 768px;
    width: 100%;
    background: rgba(41,193,243,1);
    overflow: hidden;
}
.footer-button-gameOver{
    margin: 4%;
    width: 42%;
    font-size: 0.4rem;
    line-height: 2.1;
    color: white;
    background: #fbb435;
    text-align: center;
    border: none;
    border-radius: 8px;
}
.footer-button-gameOver-left{float: left}
.footer-button-gameOver-right{float: right}
