.AboutUs-title {
    font-size: 0.34rem;
}

.about-wrap
{
    height:100vh;
    background: #FFF;
}

.AboutUs-content {
    padding-top: 11vh;
    margin: 0 auto;
    width: 5.68rem;
    background-color: white;

}
.AboutUs-introduce{
    margin: 5.48vh 0;
}
.AboutUs-introduce h3{
    margin-bottom: 0.5rem;
    font-size: 0.36rem;
    color: #4e4e4e;

}
.AboutUs-introduce p{
    line-height: 0.38rem;
    font-size: 0.26rem;
    color: #868686;
}
.AboutUs-forum{

}
.AboutUs-forum p{
    border-top: solid 0.01rem #c1c1c1;
    padding: 0.9vh 0;
    font-size: 0.36rem;
    color: black;
}
.AboutUs-forum  span{
    padding-right: 0.2rem;
    float: right;
    font-size: 0.28rem;
    color: #c2c2c2;
}
.AboutUs-QQ{
    border-bottom: solid 0.01rem #c1c1c1;
}
.AboutUs-QQ span{
    color: #4e4e4e;
}
.AboutUs-code{
    overflow: hidden;
    position: absolute;
    bottom: 0;
    padding-bottom: 5.93vh;
    text-align:center;
}
.AboutUs-microBlog,.AboutUs-WeChat{
    width: 2.8rem;
    float: left;
    font-size: 0.26rem;
    line-height: 0.36rem;
}
.AboutUs-microBlog img{
    padding:0.05rem 0  0.46rem 0;
    width: 1.15rem;
}
.AboutUs-WeChat img{
    padding-bottom: 0.4rem;
    width: 1.25rem;
}
