/*
   //rem 来配备设备的宽度，从而来达到在各种手机设备中 元素的宽的比例正常
   //vh css3的属性 将移动手机viewport的高平均分成100份.1vh代表一份。来匹配手机可视区viewport的高，从而减少出现下拉条的出现
*/
/*禁止在手机端长按出现选择文本*/
* {
    -webkit-touch-callout: none;
    /*-webkit-user-select:none;*/
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

html, body, p, h1, h2, h3, h4, pre, button, div {
    margin: 0;
    padding: 0;
}

button {
    border: none;
    outLine: none;
}

html {
    margin: 0 auto;
    max-width: 768px;
    min-width: 320px;
    /*font-size: 125%;*/
    background-color: #333;
}

body {
    width: 100%;
    height: 100%;
    max-width: 768px;
    min-width: 320px;
    position: relative;
    font-family: "PingFangSC-Regular, sans-serifArial,Console,Verdana,Courier New";
}

.wrap {
    height: 100vh;
    background-color: #f0f0f0;
}

/*header*/
h1 {
    font-size: 0.4rem;
}

.public_header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 9vh;
    max-width: 768px;
    min-width: 320px;
    margin: 0 auto;
    color: white;
    line-height: 9vh;
    text-align: center;
    border-bottom: 1px solid #74d4eb;
    z-index: 99;
    background-color: #29bde0;

}

.public_header img {
    display: block;
    width: 100%;
}

.public_header_leftMenu {
    position: absolute;
    left: 0.2rem;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 0.4rem;
    height: 0.4rem;
    cursor: pointer;
}

.public_header_rightMenu {
    position: absolute;
    right: 0.2rem;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 0.4rem;
    height: 0.4rem;
    cursor: pointer;
}

/*body*/
.public_body {
    padding-top: 11vh;
    max-width: 768px;
    min-width: 320px;
    background-color: #f0f0f0;
}

.public_body_bg {
    background-color: #f0f0f0 !important;
}

.public_playerSet_wrap {
    width: 6.07rem;
    margin: 0 auto;
}

ul, li {
    list-style-type: none
}

/*关闭模态框样式*/
.modal-dialog {
    margin: 38vh auto 0 auto;
    width: 80%;
}

.modal-body, .modal-footer {
    margin: 0;
    padding: 0;
}

/*.modal-content1{*/
/*position: relative;*/
/*background-color: hsl(0, 0%, 100%);*/
/*-webkit-background-clip: padding-box;*/
/*background-clip: padding-box;*/
/*border: 1px solid hsl(0, 0%, 60%);*/
/*border: 1px solid hsla(0, 0%, 0%, 0.2);*/
/*border-radius: 6px;*/
/*outline: 0;*/
/*-webkit-box-shadow: 0 3px 9px hsla(0, 0%, 0%, 0.5);*/
/*box-shadow: 0 3px 9px hsla(0, 0%, 0%, 0.5);*/
/*}*/
.modal-body {
    /*margin: 15px;*/
    padding: 0px;
    font-size: 0.4rem;
    text-align: center;
    line-height: 2;
    border: none;
    border-radius: 10px;
}

.modal-footer {
    /*margin: 0.2rem 0;*/
    font-size: 0;
    border: none;
    text-align: center;
}

.btn {
    font-size: 0.4rem;
    line-height: 2;
    width: 47%;
    border: none;
    border-radius: 10px;
}

.modal-footer .btn + .btn {
    margin-left: 4%;
}

.btn-primary:focus, .btn-primary {
    background: #f66e6e;
}

.btn-primary:hover {
    background: indianred;
}

.btn-primary:visited, .btn-primary:active {
    background: #f64b4b !important;
}

.btn-default:focus, .btn-default {
    background: #e6e6e6;
}

.btn-default:hover {
    background: gray;
}

.btn-default:visited, .btn-default:active {
    background: #535151 !important;
}

@media (orientation: portrait) {
}