.modal-dialog{
    width:5rem;
    margin:3rem auto;
}

.content{
    padding: 0;
    border-bottom: 1px solid hsl(219, 100%, 94%);
    border-radius:0;

}

.content-p{
    margin: 0 auto;
    padding: 0.9rem 0 0.3rem 0;
    text-align: left;
    font-size: 0.3rem;
    font-weight: 600;
    color: #0f4068;
    width: 80%;
}
.bottom{
    border: none;
    width: 50%;
    height: 0.95rem;
    font-size: 0.3rem;
    font-weight: 600;
    color: #7892a5;
    background-color: hsla(0, 0%, 0%, 0);

}
.overflow{
    overflow:hidden;
}
.btn-right{
    float:right;
}
.btn-left{
    float:left;
    border-right:1px solid #dfeaff;
}
.modal-content{
    outline:none;
    background-color:#ffffff;
    border-radius: 0.2rem;
}
.modal-footer{
    border-top:1px solid #dfeaff
}