
<div class="about-wrap">
    <div class="public_header" id="header">
        <div class="public_header_leftMenu">
            <img class="public_header_leftImg" src="image/header/headerbar-back.png" alt="返回"  ui-sref="index">
        </div>
        <!-- 这里可以自己天加一个指令来动态控制 -->
        <span class="AboutUs-title">关于</span>
    </div>
    <div class="AboutUs-content ">
        <div class="AboutUs-introduce ">
            <h3>桌游精灵</h3>
            <p>桌游精灵是由北京葡萄藤科技有限公司开发的一款线下桌游聚会的身份发放工具.支持杀人游戏,狼人杀,捉鬼(谁是卧底)等多款游戏的多个版本！</p>
        </div>
        <div class="AboutUs-forum">
            <p>桌游论坛<span>&gt</span></p>
            <p>在线桌游<span>&gt</span></p>
            <p class="AboutUs-QQ">QQ交流群<span>290560933</span></p>
        </div>
        <div class="AboutUs-code">
            <div class="AboutUs-microBlog">
                <img src="image/AboutUs-microBlog.png" alt="官方微博二维码">
                <p>官方微博</p>
                <p>@北京葡萄糖</p>
            </div>
            <div class="AboutUs-WeChat">
                <img src="image/AboutUs-WeChat.png" alt="微信公众号二维码">
                <p>微信公众号</p>
                <p>ptteng-com</p>
            </div>
        </div>
    </div>
</div>
<!--<script src="js/setWidth.js"></script>-->