<div class="public_header" id="header">
    <div class="public_header_leftMenu">
        <img class="public_header_leftImg" src="image/header/headerbar-back.png" alt="返回" ui-sref="index">
    </div>
    <!-- 这里可以自己天加一个指令来动态控制 -->
    <span class="Notice-title">公告</span>
</div>
<div class="Notice-content Noticewrap">
    <div class="Notice-One">
        <img src="image/game-action.png" alt="通知">
        <h3>免费领宠物啦!</h3>
        <span>6月9日</span>
        <p>即日起至10月1日止，新用户注册登录官方论坛即可以免费领取宠物蛋哦！</p>
    </div>
    <div class="Notice-One">
        <img src="image/game-action.png" alt="通知">
        <h3>免费领宠物啦!</h3>
        <span>6月9日</span>
        <p>即日起至10月1日止，新用户注册登录官方论坛即可以免费领取宠物蛋哦！</p>
    </div>
</div>
<!--<script src="js/setWidth.js"></script>-->