<div class="help-wrap">
    <div class="public_header" id="header">
        <div class="public_header_leftMenu">
            <img class="public_header_leftImg" src="image/header/headerbar-back.png" alt="返回"  ui-sref="index">
        </div>
        <!-- 这里可以自己天加一个指令来动态控制 -->
        <span class="gameHelp-title">帮助</span>
    </div>
    <div class="gameHelp-content ">
        <ul class="gameHelp-usingHelp">
            <li id="gameHelp-li">
                <div>使用帮助</div>
            </li>
            <li><p>选一个人做法官,拿出手机,打开桌游精灵App,选择希望玩的游戏版本.</p></li>
            <li><p>对游戏的人数及相关角色的配置做设定，点击开始游戏 </p></li>
            <li><p>将手机依次传递给场内玩家，点击查看身份，可获取自己的身份信息.点击隐藏身份，交给下一玩家，最终回到法官手里</p></li>
            <li><p>法官可以随时查看玩家身份.并在法官日记里记录游戏的状态情况，直至游戏结束。</p></li>
        </ul>
        <div class="gameHelp-footer">
            <p>新手引导</p>
            <p>游戏介绍</p>
        </div>
    </div>
</div>

<!--<script src="js/setWidth.js"></script>-->