<div class="public_header setting_wrap" id="header" >
    <div class="public_header_leftMenu" ui-sref="index({versionId:gameVersionId})">
        <img class="public_header_leftImg" src="image/header/headerbar-back.png"
             alt="">
    </div>
    <!-- 这里可以自己天加一个指令来动态控制 -->
    <!--<div class="public_header_rightMenu">-->
        <!--<img class="public_header_leftImg" src="image/header/headerbar-doubt.png" alt="">-->
    <!--</div>-->
</div>
<div class="public_body public_body_bg setting_body">
    <div class="public_playerSet_wrap">
        <div class="playerSet_match">
            <div class='playerHeading'>
                <p>玩家配比</p>
            </div>
            <div class="playerMatch_view" >
                <div class="playerMatch-player" ng-repeat="playerName in versionList.role">
                    <div class="playerMatch-img">
                        <img src="image/werewolf-{{versionList.img[$index]}}" alt="">
                    </div>
                    <p  class="playerMatch-playerName">{{versionList.CN.role[playerName]}} <span class="playerMatch-playerNumber"> {{versionList.playerNum[playerNumDefault][$index]}}</span>&ensp;人</p>
                </div>

            </div>
        </div>
    </div>
    <div  class="public_playerSet_wrap">
        <div class="playerSet_word" >
            <label for="playerPeople-word" class="player-word" ng-show="versionList.inputCard">
                水民词组：
                <input type="text" ng-model="showWaterWord" placeholder="限输入10个字内" id="playerPeople-word" class="playerPeople-word placeholder-word" maxlength="10">
            </label>
            <label for="playerSpirit-word" class="player-word" ng-show="versionList.inputCard">
                幽灵词组：
                <input type="text" ng-model="showSpiritWord" placeholder="限输入10个字内" id="playerSpirit-word" class="playerPeople-word placeholder-word"  maxlength="10">
            </label>
        </div>
        <div class="playerSet_word playerSet_Location">
            <label for="playNum">
                <p class="playNumPrompt">请输入玩家数量</p>
                <input type="text" id="playNum" class="playNum" ng-model="playerNumDefault" maxlength="2" numberic>
                <span class="playNumPrompt_span">玩家数量为{{versionList.numMin}}-{{versionList.numMax}}</span>
            </label>

        </div>
        <div class="playerSet_Button" >
            <button ng-click="playerAllot()">去发牌</button>
        </div>
    </div>
</div>
<!--<script src="js/setWidth.js"></script>-->